[submodule "Cache"]
	path = Cache
	url = https://github.com/mrXCray/XCrataPult.Cache.git
[submodule "ORM"]
	path = ORM
	url = https://github.com/mrXCray/XCrataPult.ORM.git
[submodule "CFG"]
	path = CFG
	url = https://github.com/mrXCray/XCrataPult.CFG.git
